# OWASP involved Participants

This notebook shows the values of the hugo fields that capture OWASP involvement

These fields are populated b

## Chapter Leaders

In [1]:
hugo.df_field('chapter_leader')

                     title chapter_leader
1            Lauren Chiesa      WiaLondon
2         Paulino Calderon   Riviera Maya
3               John Dileo  [New Zealand]
4        Azzeddine Ramrami        Morocco
5              Bart De Win        Belgium
6          Adrian Winckles      Cambridge
7              Andra Lezza         London
8          Felipe Zipitria        Uruguay
9            Sam Stepanyan         London
10  Sebastien Deleersnyder        Belgium

## Project Leaders

In [2]:
hugo.df_field('project_leader')

                     title                                     project_leader
1            Sven Schleier                    [Mobile Security Testing Guide]
2      Steven van der Baan                                 [Capture The Flag]
3         Paulino Calderon                                         [IoT Goat]
4               John Dileo                  [Application Security Curriculum]
5        Azzeddine Ramrami                                        [CSRFGuard]
6              Bart De Win                                             [SAMM]
7           Simon Bennetts                                              [ZAP]
8               Jim Manico  [Proactive Controls, Cheatsheet Series, Java E...
9          Adrian Winckles  [Application Security Curriculum, OWASP Honeypot]
10        Bjoern Kimminich                                        [Juiceshop]
11  Sebastien Deleersnyder                                       [OWASP SAMM]
12          Steven Wierckx                                  [Threat Modeling]
13        Jeroen Willemsen                    [Mobile Security Testing Guide]
14              Dinis Cruz      [O2 Plattform, Maturity Models Tool, Summits]

## Project Contributors

In [10]:
hugo.df_field('project_contributor')

               title project_contributor
1      Hardik Parekh              [SAMM]
2    Nessim Kisserli              [SAMM]
3     Yan Kravchenko              [SAMM]
4      Arpit Agrawal        [Juice Shop]
5         John Dileo              [SAMM]
6       Daniel Kefer              [SAMM]
7       Chris Cooper              [SAMM]
8  Jannik Hollenbach        [Juice Shop]
9         Dinis Cruz      [SAMM, Top 10]

## Project Users

In [4]:
hugo.df_field('project_user')

            title  project_user
1   Hardik Parekh  [OWASP SAMM]
2  Yan Kravchenko  [OWASP SAMM]
3      Dinis Cruz        [ASVS]

## OWASP Leadership

In [5]:
hugo.df_field('owasp_leadership')

        title                                   owasp_leadership
1  Dinis Cruz  [Board Member (20??-2011), London Chapter, Por...

-----

## Interrested in

for refernece here are the other interests mapped by partipants

In [7]:
hugo.df_field('interested_in')

                    title               interested_in
1               Kim Wuyts  [Threat Modeling, LINDDUN]
2         Nessim Kisserli                [OWASP SAMM]
3         Mustafa Kasmani           [Threat modeling]
4              Geoff Hill           [Threat Modeling]
5         Patricia Duarte          [Technical Writer]
6       Jannik Hollenbach          [OWASP Juice Shop]
7         Felipe Zipitria                      [Hugo]
8  Sebastien Deleersnyder     [SAMM, Threat Modeling]
9          Steven Wierckx           [Threat modeling]